<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

  <configuration>
  	<typeAliases>
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		<typeAlias type="java.util.List" alias="List"/>
  		<!-- 추가 예정 -->
  		<typeAlias type="com.onechou.shop.member.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.onechou.shop.favorite.FavoriteDTO" alias="FavoriteDTO"/>
  		<typeAlias type="com.onechou.shop.favorite.CupnoteDTO" alias="CupnoteDTO"/>
  		<typeAlias type="com.onechou.shop.roastery.RoasteryDTO" alias="RoasteryDTO"/>
  	</typeAliases>

  </configuration> 
