.check {
    width: 2%;
}

.productInfo {
    width: 39%;
}

.productImg {
    width: 120px;
    height: 120px;
}

.productInfoBasic {
    width: 62%;
}

.option {
    width: 39%;
}

.delivery {
    width: 10%;
}

.price {
    width: 10%;
}
