<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.cart.CartDAO">

	<insert id="add" parameterType="CartDTO">
		INSERT INTO CART (NUM, AMOUNT, PERPRICE, MEMBERID, PRODUCTNUM, OPTIONNUM)
		VALUES (CART_SEQ.NEXTVAL, #{amount}, #{perPrice}, #{memberId}, #{productNum}, #{optionNum})
	</insert>

</mapper>