<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.cart.CartDAO">

	<insert id="add" parameterType="CartDTO">
		INSERT INTO CART (NUM, AMOUNT, PERPRICE, MEMBERID, PRODUCTNUM, OPTIONNUM)
		VALUES (CART_SEQ.NEXTVAL, #{amount}, #{perPrice}, #{memberId}, #{productNum}, #{optionNum})
	</insert>

	<select id="list" parameterType="MemberDTO" resultMap="listResult">
		SELECT A.*, B.NAME, B.PRICE, B.ROASTERYNAME, B.DELIVERYFEE, B.FREEDELIVERY, C.FILENAME, D.NUM AS OPNUM, D.OPTIONNAME, D.ADDPRICE
		FROM CART A
		JOIN PRODUCT B
		ON A.PRODUCTNUM = B.NUM
		JOIN PRODUCTFILE C
		ON A.PRODUCTNUM = C.PRODUCTNUM
		JOIN PRODUCTOPTION D
		ON B.NUM = D.PRODUCTNUM
		WHERE A.MEMBERID = #{id}
		ORDER BY A.NUM ASC, D.NUM ASC
	</select>
	
	<resultMap type="CartDTO" id="listResult">
		<id column="num" property="num"/>
		<result column="amount" property="amount"/>
		<result column="perPrice" property="perPrice"/>
		<result column="memberId" property="memberId"/>
		<result column="productNum" property="productNum"/>
		<result column="optionNum" property="optionNum"/>
		
		<association property="productDTO" javaType="ProductDTO">
			<result column="name" property="name"/>
			<result column="price" property="price"/>
			<result column="roasteryName" property="roasteryName"/>
			<result column="deliveryFee" property="deliveryFee"/>
			<result column="freeDelivery" property="freeDelivery"/>
			<association property="productFileDTO" javaType="ProductFileDTO">
				<result column="fileName" property="fileName"/>
			</association>
			<collection property="productOptionDTOs" javaType="List" ofType="ProductOptionDTO">
				<id column="opnum" property="num"/>
				<result column="optionName" property="optionName"/>
				<result column="addPrice" property="addPrice"/>
			</collection>
		</association>
	</resultMap>
	
	<delete id="delete" parameterType="CartDTO">
		DELETE CART WHERE NUM = #{num}
	</delete>
	
	<update id="update" parameterType="CartDTO">
		UPDATE CART SET AMOUNT = #{amount}, PERPRICE = #{perPrice}, OPTIONNUM = #{optionNum}
		WHERE NUM = #{num}
	</update>

</mapper>