<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.favorite.FavoriteDAO">
	<insert id="add" parameterType="FavoriteDTO">
		INSERT INTO FAVORITE 
		VALUES(FAVORITE_SEQ.NEXTVAL,#{roastingPoint},#{flavor},#{memberId})
	</insert>	
	<insert id="noteAdd" parameterType="CupnoteDTO">
		INSERT INTO CUPNOTE
		VALUES(CUPNOTE_SEQ.NEXTVAL,#{noteName},#{favoriteNum})
	</insert>
</mapper>