<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.member.MemberDAO">
	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT ID,NICKNAME,KIND
		FROM MEMBER 
		WHERE ID = #{id} AND PW = #{pw}
	</select>
	
	<select id="genenalMemberMypage" parameterType="MemberDTO" resultMap="mypageResult">
		SELECT A.ID, A.NAME, A.EMAIL, A.PHONE, A.NICKNAME, A.ADDRESS, A.KIND, B.ROASTINGPOINT, B.FLAVOR, C.NOTENAME
		FROM MEMBER A
		JOIN FAVORITE B
		ON A.ID = B.MEMBERID
		JOIN CUPNOTE C
		ON B.NUM = C.FAVORITENUM
		WHERE A.ID = #{id}
	</select>
	
	<resultMap type="MemberDTO" id="mypageResult">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="nickname" property="nickname"/>
		<result column="address" property="address"/>
		<result column="kind" property="kind"/>
		
		<association property="favoriteDTO" javaType="FavoriteDTO">
			<result column="roastingPoint" property="roastingPoint"/>
			<result column="flavor" property="flavor"/>
			<collection property="cupnoteDTOs" javaType="List" ofType="CupnoteDTO">
				<result column="noteName" property="noteName"/>
			</collection>
		</association>		
		
		<association property="roasteryDTO" javaType="RoasteryDTO">
			<id column="roasteryNum" property="num"/>
			<result column="roasteryName" property="name"/>
		</association>
	</resultMap>
	
	<select id="roasteryMemberMypage" parameterType="MemberDTO" resultMap="mypageResult">
		SELECT A.ID, A.NAME, A.EMAIL, A.PHONE, A.NICKNAME, A.ADDRESS, A.KIND, B.NUM AS ROASTERYNUM, B.NAME AS ROASTERYNAME
		FROM MEMBER A
		JOIN ROASTERY B
		ON A.ID = B.MEMBERID
		WHERE A.ID = #{id}
	</select>

	<select id="roasteryDetail" parameterType="MemberDTO" resultType="RoasteryDTO">
		SELECT *
		FROM ROASTERY
		WHERE MEMBERID=#{id}
	</select>
	<select id="roasteryFile" parameterType="RoasteryDTO" resultType="RoasteryFileDTO">
		SELECT *
		FROM ROASTERYFILE
		WHERE ROASTERYNUM=#{num}
	</select>

	<select id="idDuplicateCheck" parameterType="MemberDTO" resultType="Long">
		SELECT COUNT(ID) FROM MEMBER WHERE ID = #{id}
	</select>
	
	<select id="nicknameDuplicateCheck" parameterType="MemberDTO" resultType="Long">
		SELECT COUNT(ID) FROM MEMBER WHERE NICKNAME = #{nickname}
	</select>
	
	<select id="emailDuplicateCheck" parameterType="MemberDTO" resultType="Long">
		SELECT COUNT(ID) FROM MEMBER WHERE EMAIL = #{email}
	</select>
	
	<select id="phoneDuplicateCheck" parameterType="MemberDTO" resultType="Long">
		SELECT COUNT(ID) FROM MEMBER WHERE PHONE = #{phone}
	</select>
	
	<select id="roasteryNameDuplicateCheck" parameterType="RoasteryDTO" resultType="Long">
		SELECT COUNT(NUM) FROM ROASTERY WHERE NAME = #{name}
	</select>
	
	<insert id="addMember" parameterType="MemberDTO">
		INSERT INTO MEMBER (ID, PW, NAME, EMAIL, PHONE, NICKNAME, ADDRESS, KIND)
		VALUES (#{id}, #{pw}, #{name}, #{email}, #{phone}, #{nickname}, #{address}, #{kind})
	</insert>
	
	<insert id="addRoastery" parameterType="RoasteryDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT ROASTERY_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ROASTERY (NUM, NAME, INFO, ADDRESS, MEMBERID)
		VALUES (#{num}, #{name}, #{info}, #{address}, #{memberId})
	</insert>
	
	<insert id="addRoasteryFile" parameterType="RoasteryFileDTO">
		INSERT INTO ROASTERYFILE (FILENUM, FILENAME, ORINAME, ROASTERYNUM)
		VALUES (ROASTERYFILE_SEQ.NEXTVAL, #{fileName}, #{oriName}, #{roasteryNum})
	</insert>
	
	<insert id="addFavorite" parameterType="FavoriteDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT FAVORITE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO FAVORITE (NUM, ROASTINGPOINT, FLAVOR, MEMBERID)
		VALUES (#{num}, #{roastingPoint}, #{flavor}, #{memberId})
	</insert>
	
	<insert id="addCupnote" parameterType="CupnoteDTO">
		INSERT INTO CUPNOTE (NUM, NOTENAME, FAVORITENUM)
		VALUES (CUPNOTE_SEQ.NEXTVAL, #{noteName}, #{favoriteNum})
	</insert>
	
	<select id="memberDetail" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM MEMBER WHERE ID = #{id}
	</select>
	
	<update id="update" parameterType="MemberDTO">
		UPDATE MEMBER 
		SET NAME=#{name}, EMAIL=#{email}, PHONE=#{phone}, NICKNAME=#{nickname}, ADDRESS=#{address}
		WHERE ID=#{id}
	</update>
	
	<update id="updatePw" parameterType="MemberDTO">
		UPDATE MEMBER SET PW = #{pw}
		WHERE ID = #{id}
	</update>
</mapper>