<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.payment.PaymentDAO">

	<select id="getCartDetail" parameterType="CartDTO" resultMap="cartDetailResult">
		SELECT A.*, B.NAME, B.PRICE, B.ROASTERYNAME, B.DELIVERYFEE, B.FREEDELIVERY, C.FILENAME, D.OPTIONNAME, D.ADDPRICE 
		FROM CART A
		JOIN PRODUCT B
		ON A.PRODUCTNUM = B.NUM
		JOIN PRODUCTFILE C
		ON B.NUM = C. PRODUCTNUM
		JOIN PRODUCTOPTION D
		ON A.OPTIONNUM = D.NUM
		WHERE A.NUM = #{num}
	</select>
	
	<resultMap type="CartDTO" id="cartDetailResult">
		<id column="num" property="num"/>
		<result column="amount" property="amount"/>
		<result column="perPrice" property="perPrice"/>
		<result column="memberId" property="memberId"/>
		<result column="productNum" property="productNum"/>
		<result column="optionNum" property="optionNum"/>
		
		<association property="productDTO" javaType="ProductDTO">
			<result column="name" property="name"/>
			<result column="price" property="price"/>
			<result column="roasteryName" property="roasteryName"/>
			<result column="deliveryFee" property="deliveryFee"/>
			<result column="freeDelivery" property="freeDelivery"/>
			<association property="productFileDTO" javaType="ProductFileDTO">
				<result column="fileName" property="fileName"/>
			</association>
		</association>
		
		<association property="productOptionDTO" javaType="ProductOptionDTO">
			<result column="optionName" property="optionName"/>
			<result column="addPrice" property="addPrice"/>
		</association>
	</resultMap>
	
	<insert id="addPayment" parameterType="PaymentDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT PAYMENT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PAYMENT (NUM, ORDERDATE, TOTALPRICE, METHOD, MEMBERID)
		VALUES (#{num}, SYSDATE, #{totalPrice}, #{method}, #{memberId})
	</insert>
	
	<insert id="addPaidProduct" parameterType="PaidProductDTO">
		INSERT INTO PAIDPRODUCT (NUM, PERPRICE, AMOUNT, PAYMENTNUM, PRODUCTNUM, OPTIONNUM)
		VALUES (PAIDPRODUCT_SEQ.NEXTVAL, #{perPrice}, #{amount}, #{paymentNum}, #{productNum}, #{optionNum})
	</insert>
	
	<insert id="addDelivery" parameterType="DeliveryDTO">
		INSERT INTO DELIVERY (NUM, RECIPIENT, ADDRESS, RECIPIENTPHONE, MEMO, PAYMENTNUM)
		VALUES (DELIVERY_SEQ.NEXTVAL, #{recipient}, #{address}, #{recipientPhone}, #{memo}, #{paymentNum})
	</insert>
	
	<delete id="deleteCart" parameterType="CartDTO">
		DELETE CART WHERE NUM = #{num}
	</delete>
	
	<update id="updatePurchaseCount" parameterType="PaidProductDTO">
		UPDATE PRODUCT SET PURCHASE = PURCHASE + 1
		WHERE NUM = #{productNum}
	</update>
	
	
</mapper>