<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.payment.PaymentDAO">

	<select id="getCartDetail" parameterType="CartDTO" resultMap="cartDetailResult">
		SELECT A.*, B.NAME, B.PRICE, B.ROASTERYNUM, B.ROASTERYNAME, B.DELIVERYFEE, B.FREEDELIVERY, C.FILENAME, D.OPTIONNAME, D.ADDPRICE 
		FROM CART A
		JOIN PRODUCT B
		ON A.PRODUCTNUM = B.NUM
		JOIN PRODUCTFILE C
		ON B.NUM = C. PRODUCTNUM
		JOIN PRODUCTOPTION D
		ON A.OPTIONNUM = D.NUM
		WHERE A.NUM = #{num}
	</select>
	
	<resultMap type="CartDTO" id="cartDetailResult">
		<id column="num" property="num"/>
		<result column="amount" property="amount"/>
		<result column="perPrice" property="perPrice"/>
		<result column="memberId" property="memberId"/>
		<result column="productNum" property="productNum"/>
		<result column="optionNum" property="optionNum"/>
		
		<association property="productDTO" javaType="ProductDTO">
			<result column="name" property="name"/>
			<result column="price" property="price"/>
			<result column="roasteryNum" property="roasteryNum"/>
			<result column="roasteryName" property="roasteryName"/>
			<result column="deliveryFee" property="deliveryFee"/>
			<result column="freeDelivery" property="freeDelivery"/>
			<association property="productFileDTO" javaType="ProductFileDTO">
				<result column="fileName" property="fileName"/>
			</association>
		</association>
		
		<association property="productOptionDTO" javaType="ProductOptionDTO">
			<result column="optionName" property="optionName"/>
			<result column="addPrice" property="addPrice"/>
		</association>
	</resultMap>
	
	<insert id="addPayment" parameterType="PaymentDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT PAYMENT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PAYMENT (NUM, ORDERDATE, TOTALPRICE, METHOD, MEMBERID)
		VALUES (#{num}, SYSDATE, #{totalPrice}, #{method}, #{memberId})
	</insert>
	
	<insert id="addPaidProduct" parameterType="PaidProductDTO">
		INSERT INTO PAIDPRODUCT (NUM, PERPRICE, AMOUNT, PAYMENTNUM, PRODUCTNUM, OPTIONNUM, SHIPMENTSTATUS, ROASTERYNUM)
		VALUES (PAIDPRODUCT_SEQ.NEXTVAL, #{perPrice}, #{amount}, #{paymentNum}, #{productNum}, #{optionNum}, 0, #{roasteryNum})
	</insert>
	
	<insert id="addDelivery" parameterType="DeliveryDTO">
		INSERT INTO DELIVERY (NUM, RECIPIENT, ADDRESS, RECIPIENTPHONE, MEMO, PAYMENTNUM)
		VALUES (DELIVERY_SEQ.NEXTVAL, #{recipient}, #{address}, #{recipientPhone}, #{memo}, #{paymentNum})
	</insert>
	
	<delete id="deleteCart" parameterType="CartDTO">
		DELETE CART WHERE NUM = #{num}
	</delete>
	
	<update id="updatePurchaseCount" parameterType="PaidProductDTO">
		UPDATE PRODUCT SET PURCHASE = PURCHASE + 1
		WHERE NUM = #{productNum}
	</update>
	
	<select id="list" parameterType="HashMap" resultMap="paymentResult">
		SELECT A.NUM, A.ORDERDATE, A.TOTALPRICE, B.NUM AS PAIDPRODUCTNUM, B.PAYMENTNUM, B.PERPRICE, B.AMOUNT, B.PRODUCTNUM, B.DELIVERYCOMPANY, B.SHIPMENTNUM, B.SHIPMENTSTATUS, C.OPTIONNAME, C.ADDPRICE, D.NAME, D.ROASTERYNAME, D.PRICE, E.FILENAME
		FROM PAYMENT A
		JOIN PAIDPRODUCT B
		ON A.NUM = B.PAYMENTNUM
		JOIN PRODUCTOPTION C
		ON B.OPTIONNUM = C.NUM
		JOIN PRODUCT D
		ON B.PRODUCTNUM = D.NUM
		JOIN PRODUCTFILE E
		ON D.NUM = E.PRODUCTNUM
		WHERE A.NUM IN ((SELECT NUM 
						 FROM (SELECT ROWNUM R, F.*
						  	   FROM (SELECT NUM FROM PAYMENT
		   					         WHERE MEMBERID = #{id}
								     ORDER BY NUM DESC) F)
									 WHERE R BETWEEN #{startRow} AND #{lastRow}))
		ORDER BY A.NUM DESC, ORDERDATE DESC
		
	</select>
	
	<resultMap type="PaymentDTO" id="paymentResult">
		<id column="num" property="num"/>
		<result column="orderDate" property="orderDate"/>
		<result column="totalPrice" property="totalPrice"/>
		<result column="method" property="method"/>
		
 		<association property="deliveryDTO" javaType="DeliveryDTO">
			<result column="recipient" property="recipient"/>
			<result column="address" property="address"/>
			<result column="recipientPhone" property="recipientPhone"/>
			<result column="memo" property="memo"/>
		</association>
		
		<collection property="paidProductDTOs" javaType="List" ofType="PaidProductDTO">
			<id column="paidproductnum" property="num"/>
			<result column="perPrice" property="perPrice"/>
			<result column="amount" property="amount"/>
			<result column="productNum" property="productNum"/>
			<result column="deliveryCompany" property="deliveryCompany"/>
			<result column="shipmentNum" property="shipmentNum"/>
			<result column="shipmentStatus" property="shipmentStatus"/>
			<association property="productOptionDTO" javaType="ProductOptionDTO">
				<result column="optionName" property="optionName"/>
				<result column="addPrice" property="addPrice"/>
			</association>
			<association property="productDTO" javaType="ProductDTO">
				<result column="name" property="name"/>
				<result column="roasteryName" property="roasteryName"/>
				<result column="price" property="price"/>
				<result column="deliveryFee" property="deliveryFee"/>
				<result column="freeDelivery" property="freeDelivery"/>
				<association property="productFileDTO" javaType="ProductFileDTO">
					<result column="fileName" property="fileName"/>
				</association>			
			</association>
		</collection>
		
	</resultMap>
	
	<select id="getTotal" parameterType="MemberDTO" resultType="Long">
		SELECT COUNT(NUM) FROM PAYMENT
		WHERE MEMBERID = #{id}
	</select>
	
	<select id="detail" parameterType="PaymentDTO" resultMap="paymentResult">
		SELECT A.NUM, A.ORDERDATE, A.TOTALPRICE, A.METHOD, B.PERPRICE, B.AMOUNT, B.PRODUCTNUM, B.DELIVERYCOMPANY, B.SHIPMENTNUM, B.SHIPMENTSTATUS, C.OPTIONNAME, C.ADDPRICE, D.NAME, D.ROASTERYNAME, D.PRICE, D.DELIVERYFEE, D.FREEDELIVERY, E.FILENAME, F.RECIPIENT, F.ADDRESS, F.RECIPIENTPHONE, F.MEMO
		FROM PAYMENT A
		JOIN PAIDPRODUCT B
		ON A.NUM = B.PAYMENTNUM
		JOIN PRODUCTOPTION C
		ON B.OPTIONNUM = C.NUM
		JOIN PRODUCT D
		ON B.PRODUCTNUM = D.NUM
		JOIN PRODUCTFILE E
		ON D.NUM = E.PRODUCTNUM
		JOIN DELIVERY F
		ON A.NUM = F.PAYMENTNUM
		WHERE A.NUM = #{num}
	</select>
	
	<select id="getShipmentProductList" parameterType="HashMap" resultMap="shipmentProductListResult">
        SELECT A.NUM AS PAYMENTNUM, A.ORDERDATE, B.NUM, B.AMOUNT, B.PERPRICE, C.NAME, C.ROASTERYNAME, C.PRICE, D.FILENAME, E.OPTIONNAME, E.ADDPRICE, F.RECIPIENT, F.ADDRESS, F.RECIPIENTPHONE, F.MEMO
		FROM PAYMENT A
        JOIN PAIDPRODUCT B
        ON A.NUM = B.PAYMENTNUM
		JOIN PRODUCT C
		ON B.PRODUCTNUM = C.NUM
		JOIN PRODUCTFILE D
		ON C.NUM = D.PRODUCTNUM
		JOIN PRODUCTOPTION E
		ON B.OPTIONNUM = E.NUM
		JOIN DELIVERY F
		ON A.NUM = F.PAYMENTNUM
		WHERE A.NUM IN ((SELECT NUM
                         FROM(SELECT ROWNUM R, J.*
                              FROM(SELECT DISTINCT G.NUM
                                   FROM PAYMENT G
                                   JOIN PAIDPRODUCT H
                                   ON G.NUM = H.PAYMENTNUM
                                   JOIN ROASTERY I
                                   ON H.ROASTERYNUM = I.NUM
                                   WHERE I.MEMBERID = #{id}
                                   ORDER BY G.NUM ASC) J)
                         WHERE R BETWEEN #{startRow} AND #{lastRow}))
		AND B.SHIPMENTSTATUS = 0
		ORDER BY B.NUM ASC
	</select>
	
	<resultMap type="PaymentDTO" id="shipmentProductListResult">
		<id column="paymentNum" property="num"/>
		<result column="orderDate" property="orderDate"/>
		
		<association property="deliveryDTO" javaType="DeliveryDTO">
			<result column="recipient" property="recipient"/>
			<result column="address" property="address"/>
			<result column="recipientPhone" property="recipientPhone"/>
			<result column="memo" property="memo"/>
		</association>
		
		<collection property="paidProductDTOs" javaType="List" ofType="PaidProductDTO">
			<id column="num" property="num"/>
			<result column="amount" property="amount"/>
			<result column="perPrice" property="perPrice"/>
			
			<association property="productDTO" javaType="ProductDTO">
				<result column="name" property="name"/>
				<result column="roasteryName" property="roasteryName"/>
				<result column="price" property="price"/>
			
				<association property="productFileDTO" javaType="ProductFileDTO">
					<result column="fileName" property="fileName"/>
				</association>
			</association>
			
			<association property="productOptionDTO" javaType="productOptionDTO">
				<result column="optionName" property="optionName"/>
				<result column="addPrice" property="addPrice"/>
			</association>
		</collection>
	</resultMap>
	
	<select id="getShipmentTotalCount" parameterType="MemberDTO" resultType="Long">
		SELECT COUNT(NUM)
		FROM(SELECT DISTINCT G.NUM
			 FROM PAYMENT G
        	 JOIN PAIDPRODUCT H
        	 ON G.NUM = H.PAYMENTNUM
        	 JOIN ROASTERY I
        	 ON H.ROASTERYNUM = I.NUM
        	 WHERE I.MEMBERID = #{id}
        	 ORDER BY G.NUM ASC)
	</select>
	
	<select id="getShipmentProductDetail" parameterType="PaidProductDTO" resultMap="shipmentProductListResult">
		SELECT A.NUM AS PAYMENTNUM, A.ORDERDATE, B.RECIPIENT, B.ADDRESS, B.RECIPIENTPHONE, B.MEMO, C.AMOUNT, D.NAME, D.ROASTERYNAME, E.OPTIONNAME, E.ADDPRICE, F.FILENAME
		FROM PAYMENT A
		JOIN DELIVERY B
		ON A.NUM = B.PAYMENTNUM
		JOIN PAIDPRODUCT C
		ON A.NUM = C.PAYMENTNUM
		JOIN PRODUCT D
		ON C.PRODUCTNUM = D.NUM
		JOIN PRODUCTOPTION E
		ON C.OPTIONNUM = E.NUM
		JOIN PRODUCTFILE F
		ON D.NUM = F.PRODUCTNUM
		WHERE C.NUM = #{num}
	</select>
	
	<update id="shipmentUpdate" parameterType="PaidProductDTO">
		UPDATE PAIDPRODUCT SET DELIVERYCOMPANY = #{deliveryCompany}, SHIPMENTNUM = #{shipmentNum}, SHIPMENTSTATUS = 1
		WHERE NUM = #{num}
	</update>
	
</mapper>