<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.review.ReviewDAO">

	<select id="verifyDuplicated" parameterType="HashMap" resultType="Long">
		SELECT NUM FROM REVIEW
		WHERE MEMBERID = #{id}
		AND PRODUCTNUM = #{num}
	</select>
	
	<select id="searchProduct" parameterType="ProductDTO" resultMap="searchProductResult">
		SELECT A.NUM, A.NAME, A.PRICE, A.ROASTERYNAME, A.SALE, B.FILENAME
		FROM PRODUCT A
		JOIN PRODUCTFILE B
		ON A.NUM = B.PRODUCTNUM
		WHERE A.NUM = #{num}
	</select>
	
	<resultMap type="ProductDTO" id="searchProductResult">
		<id column="num" property="num"/>
		<result column="name" property="name"/>
		<result column="price" property="price"/>
		<result column="roasteryName" property="roasteryName"/>
		<result column="sale" property="sale"/>
		
		<association property="productFileDTO" javaType="ProductFileDTO">
			<result column="fileName" property="fileName"/>
		</association>
	</resultMap>

</mapper>