<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.roastery.RoasteryDAO">
	<insert id="add" parameterType="RoasteryDTO">
		INSERT INTO ROASTERY VALUES(ROASTERY_SEQ.NEXTVAL,#{name},#{info},#{address},#{memberId})
	</insert>
</mapper>