<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.roastery.RoasteryDAO">

	<update id="update" parameterType="RoasteryDTO">
		UPDATE ROASTERY SET NAME=#{name}, ADDRESS=#{address}, INFO=#{info} WHERE MEMBERID=#{memberId}
	</update>
	
	<update id="updateFile" parameterType="RoasteryFileDTO">
		UPDATE ROASTERYFILE SET FILENAME=#{fileName}, ORINAME=#{oriName} WHERE ROASTERYNUM=#{roasteryNum}
	</update>
	
	<select id="file" parameterType="RoasteryDTO" resultType="RoasteryFileDTO">
		SELECT * FROM ROASTERYFILE WHERE ROASTERYNUM=#{num}
	</select>
	
	<select id="detail" parameterType="MemberDTO" resultType="RoasteryDTO">
		SELECT * FROM ROASTERY WHERE MEMBERID = #{id}
	</select>
</mapper>