<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.roastery.RoasteryDAO">
	<insert id="add" parameterType="RoasteryDTO">
	<selectKey keyProperty="num" order="BEFORE" resultType="Long"> 
		SELECT ROASTERYFILE_SEQ.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO ROASTERY VALUES(#{num},#{name},#{info},#{address},#{memberId})
	</insert>
	<insert id="addFile" parameterType="RoasteryFileDTO">
		INSERT INTO ROASTERYFILE VALUES (ROASTERYFILE_SEQ.NEXTVAL,#{fileName},#{oriName},#{roasteryNum})
	</insert>
</mapper>