<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.onechou.shop.roastery.RoasteryDAO">

	<update id="update" parameterType="RoasteryDTO">
		UPDATE ROASTERY SET NAME=#{name}, ADDRESS=#{address}, INFO=#{info} WHERE MEMBERID=#{memberId}
	</update>
	
	<update id="updateFile" parameterType="RoasteryFileDTO">
		UPDATE ROASTERYFILE SET FILENAME=#{fileName}, ORINAME=#{oriName} WHERE ROASTERYNUM=#{roasteryNum}
	</update>
	
	<select id="file" parameterType="RoasteryDTO" resultType="RoasteryFileDTO">
		SELECT * FROM ROASTERYFILE WHERE ROASTERYNUM=#{num}
	</select>
	
	<select id="detail" parameterType="RoasteryDTO" resultMap="detailResult">
		SELECT A.*, B.FILENAME, B.ORINAME
		FROM ROASTERY A
		JOIN ROASTERYFILE B
		ON A.NUM = B.ROASTERYNUM
		WHERE A.NUM = #{num}
	</select>
	
	<resultMap type="RoasteryDTO" id="detailResult">
		<id column="num" property="num"/>
		<result column="name" property="name"/>
		<result column="info" property="info"/>
		<result column="address" property="address"/>
		<result column="memberId" property="memberId"/>
		
		<association property="roasteryFileDTO" javaType="RoasteryFileDTO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</association>
		
	</resultMap>
</mapper>